* {
  margin: 0;
  padding: 0; }

html, body {
  scroll-behavior: smooth; }

body {
  position: relative;
  width: auto;
  background-image: linear-gradient(to top, #7ca6df, pink); }

div.fondo {
  background-image: linear-gradient(to bottom, rgba(152, 186, 233, 0.712), pink);
  border-radius: 10px; }

h1 {
  display: inline-block;
  position: relative;
  text-align: center;
  color: black;
  font-size: 55px;
  margin-top: 10px;
  font-family: 'Alegreya', serif;
  font-weight: 100;
  transition-duration: 0.8s;
  letter-spacing: 15px; }

h1:hover {
  letter-spacing: 18px; }

nav {
  display: inline;
  position: relative;
  text-align: center;
  height: 60px; }

ul {
  background-color: transparent;
  width: auto;
  height: 60px; }

ul li {
  display: inline;
  position: relative;
  width: auto;
  font-weight: 100; }

nav ul li a {
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.8;
  transition-duration: 0.5s; }

nav ul li a:hover {
  opacity: 1;
  text-decoration-line: overline;
  text-decoration-style: solid;
  text-decoration-color: rgba(197, 217, 247, 0.514);
  color: #fbe5d6; }

#Artista {
  padding-right: 20px; }

.profile {
  display: inline-block;
  width: 300px;
  border-radius: 100%; }

.textoPresentacion {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  font-size: 30px; }

#Obras {
  padding-left: 20px;
  padding-right: 10px; }

#saludo {
  background-color: transparent;
  font-size: 35px;
  display: block;
  position: relative;
  text-align: center;
  font-family: 'Caveat', cursive;
  text-decoration: none; }

p#saludo {
  font-size: 55px; }

p#ingresaNombre {
  color: #f5e7df;
  text-decoration: none;
  cursor: pointer; }

input#nombre {
  width: 150px;
  height: 25px;
  border-radius: 10px;
  border-color: rgba(197, 217, 247, 0.514);
  font-size: 22px; }

input#boton-guardar {
  height: 30px;
  font-size: 20px;
  border-radius: 100%;
  border-color: rgba(197, 217, 247, 0.514); }

.divCarrito {
  width: auto;
  height: 100px; }

.carritoImg {
  width: 55px;
  transition-duration: 0.5s;
  cursor: pointer;
  margin-top: 20px;
  opacity: 1; }

.carritoImg:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: translateY(-1px); }

div#contenedor-productos.row {
  margin: 15px 10%; }

p {
  margin-bottom: 0px; }

img.card-img-top {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

p span {
  letter-spacing: 1.5px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif; }

.alertaCompra {
  display: inline-block;
  position: relative;
  width: auto; }

.spinner-border {
  display: none; }

h5 {
  font-family: 'Alegreya', serif;
  font-size: 30px;
  font-weight: 900;
  margin: 10px auto; }

h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic; }

.card-body {
  padding: 0; }

.iconRedes {
  width: 90px;
  transition-duration: 0.5s; }

.iconRedes:hover {
  transform: rotate(5deg); }

footer {
  background-color: rgba(255, 255, 255, 0.09);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  margin-top: 200px; }

footer p {
  font-family: 'Alegreya', serif;
  font-weight: 900;
  padding-top: 15px; }
